/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Base */
  --color-white: #FFFFFF;
  --color-black: #000000;
  /* Navy */
  --color-navy-950: #0B1524;
  --color-navy-900: #181F2B;
  --color-navy-850: #1B2330;
  --color-navy-800: #202A3C;
  --color-navy-50: #DFE4F0;
  /* Blue */
  --color-blue-300: #62E0D9;
  --color-blue-250: #8ADAE3;
  /* Red */
  --color-red-500: #FF4242;
  /* Gray */
  --color-gray-400: #C0C0C0;
  /* Gradient */
  --gradient-1: linear-gradient(90deg, #63E1D9 0%, #3440CD 100%);
}

/* ================================
   TEXT PRESET 1
================================ */
.text-preset-1, .main-container1 .main-container2 .main-container-3 .testimonial-section .testimonal-description-container h1, .main-container1 .main-container2 .main-container-3 .header-container .hero-section .hero-text-container h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 2
================================ */
.text-preset-2, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-top h2, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-top h2, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-bottom h2, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-bottom h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 3 (Bold)
================================ */
.text-preset-3b, .main-container1 .main-container2 .main-container-3 .header-container .hero-section .hero-text-container .hero-description-container .button-container {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* TEXT PRESET 3 (Regular) */
.text-preset-3r {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 4
================================ */
.text-preset-4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 5
================================ */
.text-preset-5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 6
================================ */
.text-preset-6, .main-container1 .main-container2 .main-container-3 .header-container .hero-section .hero-text-container .hero-description-container p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 7 (Regular)
================================ */
.text-preset-7, .main-container1 .main-container2 .main-container-3 .testimonial-section .testimonal-description-container p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 8 (Regular)
================================ */
.text-preset-8, .main-container1 .main-container2 .footer-section .box h4, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-top p, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-top p, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-bottom p, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-bottom p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 9 (Bold)
================================ */
.text-preset-9b {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

/* TEXT PRESET 9 (Regular) */
.text-preset-9r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 180%;
  letter-spacing: 0.5px;
}

/* ================================
   TEXT PRESET 10
================================ */
.text-preset-10 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 7px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

body {
  background-color: var(--color-navy-850);
  text-align: center;
  color: var(--color-navy-50);
  width: 100vw;
  height: 100vh;
}

.main-container1 {
  margin-block-start: 4.96875rem;
  max-width: 80.0625rem;
  margin-inline: auto;
}
.main-container1 .main-container2 {
  width: 100%;
  height: 166.480625rem;
  display: flex;
  flex-direction: column;
  gap: auto;
  justify-content: space-between;
}
.main-container1 .main-container2 .main-container-3 {
  max-width: 100%;
  margin-inline: auto;
}
.main-container1 .main-container2 .main-container-3 .header-container {
  max-width: 100%;
}
.main-container1 .main-container2 .main-container-3 .header-container .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container1 .main-container2 .main-container-3 .header-container .logo-container .navigation-links {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}
.main-container1 .main-container2 .main-container-3 .header-container .logo-container .navigation-links a {
  text-decoration: none;
  color: var(--color-navy-50);
}
.main-container1 .main-container2 .main-container-3 .header-container .hero-section {
  max-width: 45.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-block-start: 4rem;
  margin-inline: auto;
}
.main-container1 .main-container2 .main-container-3 .header-container .hero-section img {
  width: 95%;
  height: 33.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container1 .main-container2 .main-container-3 .header-container .hero-section .hero-text-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: blue;
}
.main-container1 .main-container2 .main-container-3 .header-container .hero-section .hero-text-container .hero-description-container {
  max-width: 36.8125rem;
  background-color: red;
}
.main-container1 .main-container2 .main-container-3 .header-container .hero-section .hero-text-container .hero-description-container p {
  margin-block-end: 2rem;
}
.main-container1 .main-container2 .main-container-3 .header-container .hero-section .hero-text-container .hero-description-container .button-container {
  width: 17.5rem;
  height: 3.5rem;
  background-color: var(--color-blue-300);
  border: none;
  padding: 0 1rem;
  border-radius: 50px;
}
.main-container1 .main-container2 .main-container-3 .features-section {
  display: flex;
  justify-content: center;
  margin-inline: 11rem;
  gap: 10rem;
}
.main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-top, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-top, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-bottom, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block-end: 5rem;
  width: 390px;
}
.main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-top img, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-top img, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-bottom img, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-bottom img {
  width: 104px;
  height: 104px;
}
.main-container1 .main-container2 .main-container-3 .features-section .feature-container-left .feature-icon-container-bottom, .main-container1 .main-container2 .main-container-3 .features-section .feature-container-right .feature-icon-container-bottom {
  margin-block-end: 0;
}
.main-container1 .main-container2 .main-container-3 .testimonial-section {
  background-color: yellowgreen;
  display: flex;
  gap: 56px;
  margin-inline: auto;
}
.main-container1 .main-container2 .main-container-3 .testimonial-section img {
  width: 614.76px;
  height: 463.63px;
}
.main-container1 .main-container2 .main-container-3 .testimonial-section .testimonal-description-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 516px;
  background-color: #3440CD;
  margin-block: auto;
  text-align: start;
}
.main-container1 .main-container2 .footer-section {
  display: flex;
  gap: 40px;
  max-width: 100%;
  padding-inline: auto;
  height: 259px;
  position: relative;
  background-color: pink;
}
.main-container1 .main-container2 .footer-section .img-quotes {
  position: absolute;
  left: 0;
  top: 0;
}
.main-container1 .main-container2 .footer-section .box {
  max-width: 360px;
  padding: 2rem;
  background-color: var(--color-navy-800);
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 20px;
}
.main-container1 .main-container2 .footer-section .box .author {
  display: flex;
}
.main-container1 .main-container2 .footer-section .box .author img {
  width: 24px;
  height: 24px;
}
.main-container1 .main-container2 .footer-section .box .author .author-info {
  width: 88px;
}/*# sourceMappingURL=style.css.map */