/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Base */
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Navy */
  --color-navy-950: #0B1524;
  --color-navy-900: #181F2B;
  --color-navy-850: #1B2330;
  --color-navy-800: #202A3C;
  --color-navy-50: #DFE4F0;

  /* Blue */
  --color-blue-300: #62E0D9;
  --color-blue-250: #8ADAE3;

  /* Red */
  --color-red-500: #FF4242;

  /* Gray */
  --color-gray-400: #C0C0C0;

  /* Gradient */
  --gradient-1: linear-gradient(90deg, #63E1D9 0%, #3440CD 100%);
}

/* ================================
   TEXT PRESET 1
================================ */
.text-preset-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 2
================================ */
.text-preset-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 3 (Bold)
================================ */
.text-preset-3b {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* TEXT PRESET 3 (Regular) */
.text-preset-3r {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 4
================================ */
.text-preset-4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 5
================================ */
.text-preset-5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 6
================================ */
.text-preset-6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 7 (Regular)
================================ */
.text-preset-7 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 8 (Regular)
================================ */
.text-preset-8 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

/* ================================
   TEXT PRESET 9 (Bold)
================================ */
.text-preset-9b {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

/* TEXT PRESET 9 (Regular) */
.text-preset-9r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 180%;
  letter-spacing: 0.5px;
}

/* ================================
   TEXT PRESET 10
================================ */
.text-preset-10 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 7px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

body {
  background-color: var(--color-navy-850);
  text-align: center;
  color: var(--color-navy-50);
  width: 100vw;
  height: 100vh;

}

.main-container1 {
  margin-block-start: 4.96875rem;
  max-width: 80.0625rem;
  margin-inline: auto;

  .main-container2 {
    // height: 166.480625rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    // justify-content: space-between;

    .header-container {
      max-width: 100%;

      .logo-container {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation-links {
          ul {
            display: flex;
            justify-content: space-between;
            gap: 3.5rem;
            list-style: none;

            a {
              text-decoration: none;
              color: var(--color-navy-50);
              @extend .text-preset-3r;
              cursor: pointer;
              transition: color 0.3s ease;
              /* smooth geçiş */

              &:hover {
                color: var(--color-white);
      
              }



            }
          }




        }
      }

      .hero-section {

        max-width: 45.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.5rem;
        margin-block-start: 4rem;
        margin-inline: auto;

        img {
          width: 95%;
          height: 33.375rem;
          object-fit: cover;
        }

        .hero-text-container {
          max-width: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2.5rem;

          h1 {
            @extend .text-preset-1;
          }

          .hero-description-container {

            max-width: 36.8125rem;

            p {
              @extend .text-preset-6;
              margin-block-end: 2rem;
            }

            .button-container {
              width: 17.5rem;
              height: 3.5rem;
              @extend .text-preset-3b;
              background-color: var(--color-blue-300);
              border: none;
              padding: 0 1rem;
              border-radius: 50px;
            }
          }
        }
      }
    }

    .features-section {
      display: flex;
      justify-content: center;
      margin-inline: 11rem;
      gap: 10rem;

      .feature-container-left {

        .feature-icon-container-top {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          margin-block-end: 5rem;
          width: 390px;

          img {
            width: 104px;
            height: 104px;
          }

          h2 {
            @extend .text-preset-2;
          }

          p {
            @extend .text-preset-8;
          }
        }

        .feature-icon-container-bottom {
          @extend .feature-icon-container-top;
          margin-block-end: 0;
        }
      }

      .feature-container-right {
        @extend .feature-container-left;
      }
    }

    .testimonial-section {

      display: flex;
      gap: 56px;
      margin-inline: auto;

      img {
        width: 614.76px;
        height: 463.63px;
      }

      .testimonal-description-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 516px;
        margin-block: auto;
        text-align: start;

        h1 {
          @extend .text-preset-1;
        }

        p {
          @extend .text-preset-7;
        }

        .action-call {
          width: 10.375rem;
          color: var(--color-blue-300);
          border-bottom: 2px solid var(--color-blue-300);

          img {
            display: inline;
            width: 12px;
            height: 12px;
          }

          p {
            display: inline;
          }
        }

      }

    }

    .footer-section {
      display: flex;
      align-items: end;
      justify-content: space-evenly;
      gap: 40px;
      max-width: 100%;
      padding-inline: auto;
      height: 14.8rem;
      // background-color: pink;
      position: relative;
      margin-block-end: 13.75rem;

      .img-quotes {
        position: absolute;
        left: 0;
        top: 0;
      }

      .box {
        max-width: 22.5rem;
        height: 12.5rem;
        padding-inline: 1.5rem;
        padding-block: 2rem;
        background-color: var(--color-navy-800);
        z-index: 1;
        text-align: start;
        border-radius: 5px;

        h4 {
          @extend .text-preset-8;
        }

        .author {
          margin-block-start: 1.5rem;
          display: flex;
          gap: 0.5rem;

          img {
            width: 1.5rem;
            height: 1.5rem;
          }

          .author-info {
            width: 88px;

            h5 {
              @extend .text-preset-9b;
            }

            p {
              @extend .text-preset-10;
            }
          }
        }
      }
    }
  }

  .action-section {
    width: 53.9375rem;
    height: 17.1875rem;
    background-color: var(--color-navy-800);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    /* footer'ın arkasında görünmesi için */

    .action-text-container {
      width: 44rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .action-description-container {
        width: 42.0625rem;

        h1 {
          @extend .text-preset-1;
          margin-block-end: 1rem;
        }

        p {
          @extend .text-preset-8;
        }
      }

      .email-container {
        display: flex;
        gap: 1.5rem;
        width: 100%;
        height: 3rem;

        .input-area {
          width: 30rem;
          height: 100%;
          border-radius: 50px;
          border: none;
          padding-inline-start: 25px;
        }

        .btn {
          width: 12.5rem;
          height: 100%;
          border-radius: 50px;
          background: var(--gradient-1);
          border: none;
        }
      }
    }
  }
}

.footer-bottom-section {
  width: 100%;
  height: 27.5625rem;
  background-color: var(--color-navy-950);
  position: relative;
  z-index: -1;
  margin-top: -140px;
  /* action-section içine 50px girer; gerektiğinde ayarla */
  z-index: -1;
  /* arka planda kalsın */
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-links-container {
    margin-inline: auto;
    width: 77.479375rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 10rem;

    .adress-container {
      display: flex;
      justify-content: space-between;
      gap: 5rem;

      .adress {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }

        p {
          width: 21.1875rem;
          @extend .text-preset-7;
          text-align: start;
        }

      }

      .contact {
        width: 10.8125rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .tel {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
        }

        .email {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
        }

      }

    }

    .footer-links {
      display: flex;
      justify-content: space-between;
      gap: 5rem;

      a {
        color: var(--color-navy-50);
        @extend .text-preset-7;
        text-decoration: none;
      }


      .footer-links-left,
      .footer-links-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;

      }
    }

    .socialmedia-links {
      display: flex;
      gap: 1rem;

      a {
        color: var(--color-navy-50);
        border: 1px solid white;
        border-radius: 50%;
        height: fit-content;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
    }
  }
}